@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Serif+Pro&subset=latin-ext');

body {
  font-family: 'Source Serif Pro', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.header {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 1.5em;
}

.navbar {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 30px;
}

.footer {
  text-align: center;
  padding-top: 30px;
  font-size: 0.65em;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #225577;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

a#home {
  color: #ff6600;
}

a#navbar {
  color: #777777;
}

ul#indexList {
  list-style-position: inline;
  list-style-type: none;
  font-size: 1em;
  text-align: center;
}

.post-header {
  text-align: left;
  font-size: 2em;
  padding-bottom: 30px;
}

.post-content {
  text-align: justify;
}

.date {
  color: #808080;
  float: right;
}

.dragon {
  text-align: center;
  padding: 50px auto;
}

img#profile {
  border-radius: 50%;
}

.profile-content {
  text-align: center;
}

h5#profile {
  margin-bottom: -5px;
}

code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  color: #515151;
}
