<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>

    <title>
      {{ .Title }} &middot; {{ .Site.Title }}
    </title>

    {{ partial "head.html" . }}

  </head>

  <body>

    {{ partial "header.html" . }}

    <div class="container">
      <div class="six columns offset-by-three" >
        <ul style="list-style-type:decimal">
          {{ range .Data.Pages }}
          <li>
            <a href="{{.Permalink}}" id="post-list">{{.Title}}</a>
            <span class="date">
              {{ .Date.Format "Jan 2, 2006" }}
            </span>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </body>

</html>

