<!DOCTYPE html>
<html>

    <head>

      <title>
        {{ .Title }} &middot; {{ .Site.Title }}
      </title>

      {{ partial "head.html" . }}

    </head>

    <body>

      {{ partial "header.html" . }}

      <div class="container centered">

        <div class="post-content">
          {{ .Content }}
        </div>

      </div>

      {{ partial "footer.html" . }}

    </body>

</html>

