{{ $directory := "content/" }}
{{ $filename := "about.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}

<div class="container centered">
    <div class = "post-content">
	{{ with $.Site.GetPage "page" "about.md" }}
    	    {{ .Content }}
	{{ end }}
    </div>
</div>

{{ end }}
