<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="generator" content="Hugo 0.18.1" />

<!-- FavIcon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}">

<!-- Skeleton CSS -->
<link rel="stylesheet" href="{{ "css/skeleton.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/normalize.css" | absURL }}">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ "css/ace.css" | absURL }}">

<!-- Schema.org -->
{{ template "_internal/schema.html" . }}

<!-- RSS -->
{{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}
