<div class="container centered">
  <div class="row navbar">
    <h6 id="navbar">
      <a href="/" id="home">home</a>
      |
      <a href="/about" id="navbar">about</a>
      |
      <a href="/publications" id="navbar">publications</a>
      |
      <a href="/resume" id="navbar">resume</a>
    </h6>
  </div>
</div>
