<div class="container centered">

<div class="profile-content">

<img src="profile.jpeg" id="profile" style="width:200px; auto">
<h5 id="profile">
Soham Pal
</h5>
<h6>
Physicist-in-training
</h6>

</div>

</div>
