{{ $directory := "content/" }}
{{ $filename := "resume.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}

<div class="container centered">
    <div class="post-content">
	{{ with $.Site.GetPage "page" "resume.md" }}
	    {{ .Content }}
	{{ end }}
    </div>
</div>

{{ end }}
