<h6>tags: <a href="/{{ .Section }}" id="section">{{ .Section | markdownify }}</a></h6>
           <ul>
           {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.categories" "intersect" .Params.categories ) "Permalink" "!=" .Permalink ) }}
             <li class="relatedPost">
               <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a><br />
               {{ .Description | markdownify }}
             </li>
           {{ end }}
           </ul>
