<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>

    <title>
      {{ .Site.Title }}
    </title>

    {{ partial "head.html" . }}

  </head>

  <body>

    {{ partial "header.html" . }}
    {{ partial "profile.html" . }}

    <div class="container centered">
        
    </div>

    {{ partial "footer.html" . }}

  </body>

</html>

